@import './variables.scss';

@mixin container {
    max-width: 1280px;
    margin: 0 auto;
}

@mixin widget {
    padding:20px 0;
    margin-bottom: 20px;

    .widget__title {
        font-weight: 700;
        margin-bottom: 20px;
        font-size: 20px;
    }

    .widget__menu {

        li {
            padding: 3px 0;
        }

    }
}

@mixin button {
        color: white;
        background-color: $blue;
        padding: 8px 12px;
        min-width: 185px;
        text-align: center;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 700;
        border: none;
        display: inline-block;
}

@mixin button-lg {
    @include button;
    font-size: 22px;
}